<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.ufc.virtual.solarmobilis"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/launcher"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Holo" >
        <activity
            android:name="br.ufc.virtual.solarmobilis.GatewayActivity_"
            android:label="@string/app_name"
            android:noHistory="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="br.ufc.virtual.solarmobilis.LoginActivity_"
            android:configChanges="orientation|screenSize"
            android:label="@string/app_name"
            android:noHistory="true"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="br.ufc.virtual.solarmobilis.CurriculumUnitsListActivity_"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_activity_curriculum_units_list"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Mobilis" >
        </activity>
        <activity
            android:name="br.ufc.virtual.solarmobilis.GroupsListActivity_"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_activity_groups_list"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Mobilis" >
        </activity>
        <activity
            android:name="br.ufc.virtual.solarmobilis.DiscussionListActivity_"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_activity_discussion_list"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Mobilis" >
        </activity>
        <activity
            android:name="br.ufc.virtual.solarmobilis.DiscussionsPostsActivity_"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_activity_discussions_posts"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Mobilis" >
        </activity>
        <activity
            android:name="br.ufc.virtual.solarmobilis.ResponseActivity_"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_activity_response"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Mobilis" >
        </activity>
    </application>

</manifest>